@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:ital,wght@0,300;1,300;1,400&display=swap');

/* --------------- General styling --------------- */

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    color: #222;
}

html, body {
    height: 100%;
    width: 100%;
}

figure {
    margin: 0;
}

/* --------------- Classes --------------- */

.navbar {
    font-weight: bold;
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 15px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.btn-success {
    font-weight: bold;
    background-color: #ad6a6c;
    border: none;
}

.btn-success:hover {
    background-color: #47624f;
}

.padd {
    padding: 0 20px;
}

.jumbotron {
    padding: 25px;
}

.main-text {
    font-size: 3rem;
    margin-top: 10px;
    font-weight: bolder;
}

.p-text {
    font-size: 1.2rem;
    margin-top: 10px;
}

.images1 {
    height: 290px;
    width: 280px;
    border-radius: 50%;
    padding: 20px;
}

.order-btn {
    margin-bottom: 30px;
}

.feat-img {
    background-image: url(/assets/images/cupcake1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
    background-position: center;
}

.img-fluid {
    border-radius: 70%;
}

.about-div {
    margin-top: 20px;
    margin-bottom: 25px;
}

.color1 {
    background-color: #f9dad081;
}

.footer {
    margin: 20px;
}

/* --------------- ID's --------------- */

#quote {
    font-weight: bolder;
    font-style: italic;
    font-size: 300%;
}

#welcome {
    margin-bottom: 20px;
}

#about-us-1 {
    padding: 20px;
}